/*
Colors used

Text Color (Dark Gray): #2c2c2c;
Background Color (Light purple):#E4E1E5;
Primary Color ( Purple): #3F0B52;
Secondary Color (Light Gray): #D3D0CB;
Change color when hovering (Pink): #FF7485
Line color (light Gray): #b0afaf;
 */

 :root {
    --primary-color:#3F0B52;
    --secondary-color:#FF7485;
    --dark-gray: #2c2c2c;
    --bg-color: #E4E1E5;
    --light-gray:  #b0afaf;
    --white:#fff;
    --light-gray-link:#D3D0CB;
    --scale: 1.05;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4),  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
 *{
box-sizing: border-box;
 }
body { 
    background-color:var(--bg-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-gray);
}
h1 { 
    font-size: 40px;
    font-weight: 600;
}
h2 {
    font-size: 28;
    line-height: 1.5;
    font-weight: 600;
}
h3 {
    font-size: 18;
    line-height: 1.5;
    font-weight: 600;
}
/*Link-Change color, remove underline */
a {
   color:var(--dark-gray); 
   text-decoration: none;
   font-size: 16px;
   /* padding: 8px 8px; */
}
/* Remove underline and add color to text */
a:hover, a:focus {
text-decoration: none;
color:var(--secondary-color);
}
button,
.button{ 
    /* button can be styled*/
    background-color:var(--primary-color);
    color:var(--bg-color);
    padding: 16px 32px;
    border-radius: 30px;
    border: none;
}
button:hover, button:focus,
.button:hover,.button:focus {
    /* while hovering appears a hand over it*/
    cursor: pointer;
    /* reduces the opacity*/
    background-color: var(--secondary-color); 
    color:var(--dark-gray); 
}
.button, button {
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    transition: 0.3s ease background-color color;
    transition-property: opacity;
  }
  .page_header{
    display: flex;
    /* align-content: last baseline; */
    width: 100%;
    padding: 16px 24px 16px 0px;
 }
 .page_header_item{ 
     flex: 0 1 70px;
     letter-spacing: -0.5px;
 }
 .page_header.about_header{
     border-bottom:1px solid var(--light-gray);
 }
 /*.page_header_item:nth-child(1){
     width: 200px;
     text-align: start; 
 } */
 .page_header_item:last-child{
     flex-grow: 1;
     text-align: right;
     align-self: center;
 }
 /* Menu Items, default, hover and active */
 .navigation_item {
     font-family: 'Magra', sans-serif;
     font-size: 15px;
     padding: 8px;
     transition: 0.2s ease;
 }
 .navigation_item--active {
 text-decoration: underline;
 color:var(--primary-color);
 }
 .page_footer{
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#button_go_top{
    display: flex;
    flex-direction:column;
    text-align: right;
    margin: 16px 24px;
}
.about_content{
    display: flex;
    flex-flow:column wrap;
    width: 700px;
    justify-content: center;
    padding: 24px;
    margin:auto;
}
.about_child{
    align-self: flex-start;
    margin: 8px;
}
.about_child:nth-child(1),
.about_child:nth-child(6),
.about_child:nth-child(7){
    align-self: center;
}
.about_child:nth-child(6){
    margin: 32px 0px 8px;
}
/* Media Query for screens 500px and below */
@media all and ( max-width: 500px){
    .about_content{
    flex-direction: column;
    width: auto;
    }
   .about_child{
    flex: 0 1 0;
   }
   h1{
    font-size: 22px;
   }
   h2{
    font-size: 18px;
   }
   h3{
    font-size: 16px;
   }
   p{
    font-size: 14px;
   }
   .button{
    font-size: 14px;
    width: 100%;
   }
}
/* Setting media queries for tablet screens */
@media all and (min-width: 500px ) and (max-width: 750px){
    .about_content{
    flex-direction: column;
    width: auto;
    }
   .about_child{
    flex: 0 1 0;
   }
   h1{
    font-size: 30px;
   }
   h2{
    font-size: 22px;
   }
   h3{
    font-size: 17px;
   }
   p{
    font-size: 15px;
   } 
   .button{
    font-size: 15px;
    width: 100%;
   }     
   }
   /* Start of animation transformation.
   Animation applied to the sun */
   .sun{
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
/* Alternative code which makes the code shorter is to combine all proprieties in a single line
     .sun{
        animation: 4s color-change infinite alternate linear } */
   }
   @keyframes color-change {
    0% {
      fill: #edc655;
    }
    50% {
      fill: #fcffad;
    }
    100% {
      fill: #f76414;
    }
  }
  /* Animation applied to the cloud */
  .cloud-front{
    animation: 30s cloud-move infinite alternate linear;
  }
  @keyframes cloud-move {
    from {
      transform: translate(0, 50px);
    }
    to {
      transform: translate(200px, 50px);
    }
  }
  .cloud-back{
    animation: 34s cloud-move-reverse infinite alternate linear;
  }
  @keyframes cloud-move-reverse{
    from{
        transform:translate(446px, 48px);
    }
    to{
        transform: translate(100px, 48px);
    }
  }
    