/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

/*
Colors used

Text Color (Dark Gray): #2c2c2c;
Background Color (Light purple):#E4E1E5;
Primary Color ( Purple): #3F0B52;
Secondary Color (Light Gray): #D3D0CB;
Change color when hovering (Pink): #FF7485
Line color (light Gray): #b0afaf;
 */

:root {
  --primary-color: #3f0b52;
  --secondary-color: #ff7485;
  --dark-gray: #2c2c2c;
  --bg-color: #e4e1e5;
  --light-gray: #b0afaf;
  --white: #fff;
  --light-gray-link: #d3d0cb;
  --scale: 1.05;
  --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-color);
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-gray);
}
h1 {
  font-size: 40px;
  font-weight: 600;
}
.heading_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 24px;
  margin-right: 24px;
  font-family: "Playfair Display", serif;
  font-weight: 550;
  font-size: 40px;
}
h2 {
  font-size: 28;
  line-height: 1.5;
  font-weight: 600;
  color: var(--primary-color);
}
h3 {
  font-size: 18;
  line-height: 1.5;
  font-weight: 600;
}
p {
  font-size: 16px;
  text-align: top;
}
span {
  color: var(--primary-color);
  font-weight: 600;
}
/*Link-Change color, remove underline */
a {
  color: var(--dark-gray);
  text-decoration: none;
  font-size: 16px;
}
.my_contact_info {
  text-align: center;
}
.my_email {
  text-align: center;
}
/* Remove underline and add color to text */
a:hover,
a:focus {
  text-decoration: none;
  color: var(--secondary-color);
}
input[type="text"],
input[type="email"],
input[type="tel"],
#contact-message,
select {
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #b0afaf;
  border-radius: 4px;
  background-color: #e4e1e5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.submit {
  background-color: var(--bg-color);
  border-radius: 4px;
  color: var(--dark-gray);
  padding: 8px 16px;
  margin: 8px 0;
  border: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.submit:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
}
.page_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 16px 24px 16px 0px;
}
.page_header_item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 70px;
  flex: 0 1 70px;
  letter-spacing: -0.5px;
}
.page_header_item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
/* Menu Items, default, hover and active */
.navigation_item {
  font-family: "Magra", sans-serif;
  font-size: 15px;
  padding: 8px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.navigation_item--active {
  text-decoration: underline;
  color: var(--primary-color);
}
.page_footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}
#button_go_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: right;
  margin: 16px 24px;
}
/* start grid fallback */
.grid_contact_item {
  display: inline-block;
  width: 33%;
}
/* end grid fallback */
@supports (display: grid) {
  .grid_contact {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 48px;
    margin: 0px auto 16px;
    max-width: 900px;
  }
  .grid_contact_item {
    position: relative;
    background-color: var(--primary-color);
    color: var(--white);
    width: 100%;
    min-height: auto;
    padding: 24px 32px;
    border-radius: 12px;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
  }
  .grid_contact_item:nth-child(1) {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #2c2c2c;
    padding: 0;
    display: flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}
/* setting media queries for mobile screens */
@media all and (max-width: 500px) {
  .grid_contact {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 32px;
    margin: 0 24px;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  #phone,
  #email {
    font-size: 15px;
  }
  .grid_contact_item:nth-child(1) {
    padding: 0;
  }
}
/* Setting media queries for tablet screens */
@media all and (min-width: 500px) and (max-width: 750px) {
  .grid_contact {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 32px;
    margin: 0 24px;
  }
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 17px;
  }
  p {
    font-size: 15px;
  }
  #email {
    font-size: 16px;
  }
  .grid_contact_item:nth-child(1) {
    padding: 0;
  }
}
