/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
Colors used

Text Color (Dark Gray): #2c2c2c;
Background Color (Light purple):#E4E1E5;
Primary Color ( Purple): #3F0B52;
Secondary Color (Light Gray): #D3D0CB;
Change color when hovering (Pink): #FF7485
Line color (light Gray): #b0afaf;
 */
 *{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    }
    body { 
        background-color:#E4E1E5;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #2c2c2c;
    }
    h1 { 
        font-size: 40px;
        font-weight: 600;
    }
    .heading_contact{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: left;
        margin-left: 24px;
        margin-right: 24px;
        }
    h2 {
        font-size: 28;
        line-height: 1.5;
        font-weight: 600;
        color: #3F0B52;
    }
    h3 {
        font-size: 18;
        line-height: 1.5;
        font-weight: 600;
    }
    p{
        font-size: 16px;
        text-align: top;
    }
    span{
        color:#3F0B52;
        font-weight: 600;
    }
    /*Link-Change color, remove underline */
    a {
        color:#2c2c2c; 
        text-decoration: none;
        font-size: 16px;
     }
     a:hover {
     text-decoration: none;
     color:#FF7485;
     }
     a:focus {
     text-decoration: none;
     color:#FF7485;
     }
    input[type=text],
    input[type=email], 
    input[type=tel],
    #contact-message, select{
        width:100%;
        padding: 8px 16px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #b0afaf;
        border-radius: 4px;
        background-color: #E4E1E5;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .submit{
        background-color: #E4E1E5;
        border-radius: 4px;
        color:#2c2c2c;
        padding: 8px 16px;
        margin: 8px 0;
        border: none;
        -webkit-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        transition: 0.3s ease;
    }
    .submit:hover{
        cursor: pointer;
        background-color: #FF7485;
    }
    .page_header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        padding: 16px 24px 16px 0px;
     }
    .page_header_item{ 
         -webkit-box-flex: 0; 
             -ms-flex: 0 1 70px; 
                 flex: 0 1 70px;
         letter-spacing: -0.5px;
     }
    .page_header_item:last-child{
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        text-align: right;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    /* Menu Items, default, hover and active */
    .navigation_item {
        font-family: 'Magra', sans-serif;
        font-size: 15px;
        padding: 8px;
        -webkit-transition: 0.2s ease;
        -o-transition: 0.2s ease;
        transition: 0.2s ease;
    }
    .navigation_item--active {
    text-decoration: underline;
    color:#3F0B52;
    }
    .page_footer{
        clear: both;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }
    #button_go_top{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
            -ms-flex-direction:column;
                flex-direction:column;
        text-align: right;
        margin: 16px 24px;
    }
    /* start grid fallback */
    .grid_contact_item{
        display: inline-block;
        width: 33%;
       }
    /* end grid fallback */
       @supports (display: grid){
            .grid_contact{
                display: -ms-grid;
                display: grid;
                -ms-grid-columns: 1fr 32px 1fr;
                grid-template-columns: 1fr 1fr;
                -ms-grid-rows: auto;
                grid-template-rows: auto; /* Adjust this based on the content height */
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                gap: 32px;
                margin: 32px 24px;
            }
            .grid_contact_item{
                position: relative;
                background-color:#3F0B52; 
                color: #fff;
                width: auto;
                min-height: auto;
                padding: 24px 32px; 
                border-radius: 12px;
                -webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4),  0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4),  0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }
            .grid_contact_item:nth-child(1){
                background-color:transparent;
                -webkit-box-shadow: none;
                        box-shadow: none;
                color: #2c2c2c;
                padding: 0 100px 0 0;
            }
        }
           /* setting media queries for mobile screens */
    @media all and (max-width: 500px ){
        .grid_contact{
            -ms-grid-columns: 1fr;
            grid-template-columns: 1fr;
            gap: 32px;
            margin: 0 24px;
        }
        h1{
            font-size: 24px;
        }
        h2{
            font-size: 18px;
        }
        h3{
            font-size: 16px;
        }
        p{
            font-size: 14px;
        }
        #phone,#email{
            font-size: 15px;
     }
     .grid_contact_item:nth-child(1){
        padding: 0;
    }
    }
     /* Setting media queries for tablet screens */
    @media all and (min-width: 500px ) and (max-width: 750px){
        .grid_contact{
            -ms-grid-columns:1fr;
            grid-template-columns:1fr;
            gap: 32px;
            margin: 0 24px;
        }
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 22px;
        }
        h3{
            font-size: 17px;
        }
        p{ 
            font-size: 15px;
        }
        #email{
            font-size: 16px;
        }
        .grid_contact_item:nth-child(1){
            padding: 0;
        }
    }