/*
Colors used

Text Color (Dark Gray): #2c2c2c;
Background Color (Light purple):#E4E1E5;
Primary Color ( Purple): #3F0B52;
Secondary Color (Light Gray): #D3D0CB;
Change color when hovering (Pink): #FF7485
Line color (light Gray): #b0afaf;
 */

 :root {
    --primary-color:#3F0B52;
    --secondary-color:#FF7485;
    --dark-gray: #2c2c2c;
    --bg-color: #E4E1E5;
    --light-gray:  #b0afaf;
    --white:#fff;
    --light-gray-link:#D3D0CB;
    --scale: 1.05;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4),  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
 *{
box-sizing: border-box;
 }
body { 
    background-color:var(--bg-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-gray);
}
h1 { 
    font-size: 40px;
    font-weight: 600;
    margin: 24px 0 8px 0;
}
h2 {
    font-size: 28;
    line-height: 1.5;
    font-weight: 600;
}
h3 {
    font-size: 18;
    line-height: 1.5;
    font-weight: 600;
}
/*Link-Change color, remove underline */
a {
   color:var(--dark-gray); 
   text-decoration: none;
   font-size: 16px;
}
/* Remove underline and add color to text */
a:hover,
a:focus {
    text-decoration: none;
    color: var(--secondary-color);
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 24px;
    justify-content: center;
    margin: 56px 0 104px 0;
}
.profile_item{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 16px;
}
.profile_portrait{
    border-radius: 50%;
    width: 250px;
    margin-right: 16px;
}
button,
.button_primary{ 
    background-color:var(--primary-color);
    color:var(--bg-color);
    padding: 16px 32px;
    border-radius: 30px;
    border: none;
    font-family: inherit;
    transition: 0.3s ease background-color color;
}
button:hover, button:focus,
.button_primary:hover,.button_primary:focus {
    cursor: pointer;
    background-color: var(--secondary-color); 
    color:var(--dark-gray); 
}
.page_header{
   display: flex;
   width: 100%;
   padding: 16px 24px 16px 0px;
}
.page_header_item{ 
    flex: 0 1 70px;
    letter-spacing: -0.5px;
}
.page_header_item:last-child{
    flex-grow: 1;
    text-align: right;
    align-self: center;
}
/* Menu Items, default, hover and active */
.navigation_item {
    font-family: 'Magra', sans-serif;
    font-size: 15px;
    padding: 8px;
    transition: 0.2s ease;
}
.navigation_item--active {
    text-decoration: underline;
    color: var(--primary-color);
}
.profile_paragraph {
    font-size: 18px;
    line-height: 1.8;
    margin: 8px 0 24px 0;
}

.button {
    display: inline-block;
    font-size: 16px;
    width: auto;
}
/* Media Query for screens 500px and below */
 @media all and (max-width: 500px) {
     .profile {
         flex-direction: column;
         align-items: center;
         text-align: center;
     }

     .profile_item {
         margin: 0 16px;
         width: auto;
     }

     .profile_paragraph {
         font-size: 16px;
         line-height: 1.8;
     }

     h1 {
         font-size: 24px;
         text-align: center;
         margin: 16px 0 8px 0;
     }

     p {
         font-size: 16px;
     }

     .button {
         font-size: 14px;
     }
 }
/* Setting media queries for tablet screens */
@media all and (min-width: 500px ) and (max-width: 750px){

    .profile{ 
        flex-direction: column;
        align-items: center;
        text-align: center;
    } 
    .profile_portrait,
    .profile_item{
         margin: 0 24px;
    }
    .profile_paragraph{
    font-size: 16px;
    /* text-align: center; */
    } 
       h1{
        font-size: 30px;
        text-align: center;
        margin: 16px 0 8px 0;
       }
       p{
        font-size: 17px;
       }
       .button{
        font-size: 16px;
    } 
    }    
.page_footer{
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}